@import "../../vendor/styles/variables";

html, body {
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
}

.app-wrapper {
  width: 100%;
  background-image: asset_url('vendor/images/bg.jpg');
  min-height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.e-navbar {
  background: $e-black-a;
  height: 40px;
  border-radius: 0;
  min-height: 0;
  border: none;
  margin: 0;

  .user-menu-toggle {
    width: 35px;
    margin: 2px;
    height: 35px;
    display: inline-block;
    border: 2px solid $e-white;
    border-radius: 50%;
    color: $e-white;

    .fa {
      font-size: 18px;
      padding: 6px;
      transition: transform 0.3s ease;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  .navbar-header {
    float: left;

    .navbar-brand {
      padding: 10px 15px;
      color: #fff;
      font-size: 18px;
      height: auto;
      float: left;
    }
  }

  .e-menu {
    li a {
      padding: 10px 15px;
      color: $e-white;
      font-size: 18px;

      &:hover, &:focus {
        color: $e-black;
        background: $e-white;
      }
    }
  }
}

.user-navbar {
  width: 100%;
  height: 40px;
  position: fixed;
  margin-top: 40px;
  z-index: 10;
  overflow: hidden;

  .user-menu-wrapper {
    background: $e-black-pre-a;
    height: 40px;
  }

  .user-menu {
    height: 40px;
    list-style-type: none;
    padding: 0;

    li {
      display: inline-block;
      float: left;
      transition: background 0.2s ease;
      position: relative;

      &:after {
        display: inline-block;
        width: 1px;
        height: 20px;
        position: absolute;
        top: 10px;
        right: 0;
        background: $e-white;
        content: '';
      }

      &:last-child:after {
        display: none;
      }

      &:hover, &:focus {
        background: $e-white;
        a {
          text-decoration: none;
          color: $e-brown;
        }
      }

      a {
        padding: 10px 15px;
        display: inline-block;
        color: $e-white;
        cursor: pointer;
        transition: color 0.2s ease;

        &.profile {
          padding: 2.5px 15px;

          img {
            width: 35px;
            display: inline-block;
          }

          .username {
            display: inline-block;

          }
        }
      }
    }
  }
}
