@import "../../vendor/variables";

html, body {
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
}

.app-wrapper {
  width: 100%;
  background-image: asset_url('components/app/bg.jpg');
  min-height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.e-navbar {
  background: $e-black-a;
  height: 40px;
  border-radius: 0;
  min-height: 0;
  border: none;
  margin-bottom: 40px;

  .e-menu {
    li a{
      padding: 10px 15px;
      color: $e-white;
      font-size: 18px;

      &:hover, &:focus {
        color: $e-black;
        background: $e-white;
      }
    }
  }
}


