@media screen and (max-width: 767px) {
  .navbar.e-navbar {
    .e-menu {
      margin: 0;

      &.navbar-right {
        text-align: right;
      }

      li {
        display: inline-block;
      }
    }

    .user-menu {
      float: left;
    }
  }

  .dropdown.e-dropdown {
    .dropdown-menu {
      position: absolute;
      right: 0;
      left: auto;

      li {
        width: 100%;
      }
    }
  }
}
