@media screen and (max-width: 767px) {
  .navbar.e-navbar {

    .user-menu-toggle-wrapper {
      float: left;
    }

    .e-menu {
      margin: 0;

      &.navbar-right {
        text-align: right;
      }

      li {
        display: inline-block;
      }

      .notifications-dropdown {
        position: inherit;

        .dropdown-menu {
          width: calc(100% - 20px);
          margin: 10px;
          &:after, &:before {
            display: none;
          }

          .notifications-wrapper {
            max-height: 75vh;
          }
        }
      }
    }

    .user-menu {
      float: left;
    }
  }

  .user-navbar .user-menu-wrapper {
    height: auto;
  }

  .dropdown.e-dropdown {
    .dropdown-menu {
      position: absolute;
      right: 0;
      left: auto;

      li {
        width: 100%;
      }
    }
  }

}
