@import "../../../vendor/styles/variables";

.tile-show-image-video-additional {
  transition: background 0.2s ease;

  &.open.tributes {
    height: 505px;
    background: $e-white;
    overflow: hidden;

    .comments-section {
      height: 465px;
      overflow-y: auto;
      max-height: 100%;
    }
  }

  .additional-tabs-menu {
    display: inline-block;
    width: 100%;
    margin: 5px 0;
    position: relative;

    .additional-btn {
      display: inline-block;
      width: 80px;
    }
  }

  .comments-section {
    max-height: 220px;
    overflow: hidden;
  }

  .tagged-section .tags-wrapper.video-tags .tags-view {
    height: 235px;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .tile-show-image-video-additional .tagged-section .tags-wrapper .tags-view ul li {
      width: 65px;
  }
}
