@import "../../vendor/styles/variables";

.e-select {
  background: $e-white;
  border: 1px solid $e-brown;
  position: relative;
  width: 100%;

  &:after {
    position: absolute;
    top: 50%;
    right: 5px;
    font-size: 18px;
    margin-top: -11px;
    color: $e-brown;
    font-family: FontAwesome;
    content: '\f0d7';
  }

  select {
    width: 100%;
    height: 35px;
    background: none;
    border: none;
    color: $e-brown;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      outline: none;
    }
  }
}
