@import "../../../../vendor/styles/variables";

.album-inside {
  .e-container {
    position: relative;
  }

  .album-tooltip {
    padding: 20px 25px;
    background: $e-black-aaa;
  }

  .album-title {
    margin-top: 0;
  }

  .tags-wrapper {
    .tags-view {
      max-height: 170px;
    }
  }

  .comments-section {
    width: 100%;
    height: 200px;
    overflow-y: hidden;
    overflow-x: auto;

    .comments-wrapper {
      .comment {
        width: 250px;
        margin-right: 10px;
        margin-top: 0;

        .comment-content {
          height: 135px;
        }
      }
    }
  }

  .add-comment-section {
    height: 0;
    transition: height 0.3s ease;
    overflow: hidden;

    &.open {
      height: 240px;
    }
  }

  .content {
    border-top: 1px solid $e-brown;
  }
}

@media screen and (max-width: 767px) {
  .album-inside {

    .album-title {
      margin-top: 30px;
    }
    .cover-tagged {
      text-align: center;

      .cover-wrapper {
        display: inline-block;
      }
    }

    .info-comments {
      .album-title, .album-info {
        text-align: center;
      }
    }

    .add-comment-section {
      height: auto;
    }
  }
}
