@import "../../vendor/styles/variables";

.tile-show-additional {
  transition: background 0.2s ease;

  &.open.tributes {
    height: 520px;
    top: 25px;
    display: inline-block;
    position: absolute;
    background: $e-white;
    .tagged-section {
      height: 0;
    }

    .tributes-section {
      height: 480px;
      overflow-y: auto;
      max-height: 100%;
    }
  }



  .tagged-section {
    height: 50px;
  }

  .additional-tabs-menu {
    display: inline-block;
    width: 100%;
    margin: 5px 0;
    position: relative;

    .additional-btn {
      display: inline-block;
      width: 80px;
    }
  }

  .tributes-section {
    max-height: 220px;
    overflow: hidden;

    .tribute {
      width: 50%;
      padding: 5px 10px;
      display: inline-block;
      vertical-align: top;

      .tribute-content {
        height: 165px;
        overflow: hidden;
        word-break: break-all;
        text-overflow: ellipsis;
      }

      .tribute-footer {
        font-size: 12px;

        .author-info {
          width: 70%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

}
