@import "../../vendor/styles/variables";

.tile {
  background: $e-white;
  width: 100%;
  height: 100%;
  overflow: visible;
  padding: 5px;
  margin: 0;
  text-decoration: none;
  border-radius: 10px;
  position: relative;

  &.avatar, .content-tooltip, .info {
    .likes-wrapper {
      display: none;
    }
  }

  .countable-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;

    .countable{
      background: $e-red;
      border: 5px solid $e-white;
      display: inline-block;
      &.small-countable {
        span {
          font-size: 18px;
          padding: 0 3px;
        }
      }

      span {
        padding: 0 5px;
        font-size: 24px;
        color: $e-white;
      }
    }
  }

  &.text .content-wrapper {
    padding: 0 5px;
  }
  &.info .content-wrapper {
    padding: 5px;
  }

  &.content-tooltip {
    font-size: 14px;
    .btn {
      font-size: 24px;
    }
  }

  &.avatar, &.info {
    cursor: default !important;
  }

  &:hover {
    .tile-edit-buttons {
      display: block;
    }

    * {
      text-decoration: none;
    }
  }

  .tile-edit-buttons {
    display: none;
  }

  .content-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
  }

  &.small, &.large {
    .tile-img {
      width: 100%;
      height: 100%;
    }
  }

  &.middle {
    .tile-img {
      width: 100%;
      margin-top: -30%;
    }
  }

  &.vertical {
    .tile-img {
      height: 100%;
      margin-left: -60%;
    }
  }
}

.gridster-mobile {
  .tile {
    img.tile-img {
      width: 100% !important;
      height: 100% !important;
      margin: 0 !important;

    }
  }
}

.gridster-item-resizing {
  .tile {
    img.tile-img {
      width: 100% !important;
      height: 100% !important;
      margin: 0 !important;

    }
  }
}
