@import "../../vendor/variables";

.static-tile {
  .gridster-item-resizable-handler {
    display: none;
  }
}

.tile {
  background: $e-white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0;
  padding: 10px;
  margin: 0;

  &:hover {
    .tile-edit-buttons {
      display: block;
    }
  }

  .tile-edit-buttons {
    display: none;
    position: absolute;
    top: 13px;
    right: 18px;
    font-size: 25px;
    line-height: 25px;
    color: #fff;
    text-shadow: 0 0 1px #000;

    i.fa {
      display: inline-block;
      margin-left: 10px;
    }

    .drag-handle {
      cursor: move;
      cursor: -webkit-grab;
      cursor: -moz-grab;
    }
  }

  .content-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      min-width: 100%;
      min-height: 100%;
    }
  }
}
