@import "../../vendor/styles/variables";

.tile {
  background: $e-white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0;
  padding: 10px;
  margin: 0;

  &.avatar, &.info {
    cursor: default !important;
  }

  &:hover {
    .tile-edit-buttons {
      display: block;
    }
  }

  .tile-edit-buttons {
    display: none;
  }

  .content-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  &.small, &.large {
    .tile-img {
      width: 100%;
      height: 100%;
    }
  }

  &.middle {
    .tile-img {
      width: 100%;
      margin-top: -30%;
    }
  }

  &.vertical {
    .tile-img {
      height: 100%;
      margin-left: -60%;
    }
  }
}

.gridster-mobile {
  .tile {
    img.tile-img {
      width: 100% !important;
      height: 100% !important;
      margin: 0 !important;
    }
  }
}

.gridster-item-resizing {
  .tile {
    img.tile-img {
      width: 100% !important;
      height: 100% !important;
      margin: 0 !important;
    }
  }
}
