div.m-b-sm ng-class="{'has-error': errors.length}"
  textarea.form-control placeholder="{{placeholder}}" ng-required="ngRequired" ng-model="ngModel" rows="{{rows}}" cols="{{cols}}"
  .e-red ng-repeat="error in errors" {{error}}
