div.m-b-10 ng-class="{'has-error': errors.length}"
  input.form-control type="{{type || 'text'}}" placeholder="{{placeholder}}" ng-required="ngRequired" ng-model="ngModel" ng-change="onChange()" ng-model-options="{debounce: debounce}"
  .e-red ng-repeat="error in errors" {{error}}
