div.m-b-sm ng-class="{'has-error': errors.length}"
  input.form-control type="{{type || 'text'}}" placeholder="{{placeholder}}" ng-required="ngRequired" ng-model="ngModel"
  .e-red ng-repeat="error in errors" {{error}}
