@import "../../../vendor/styles/variables";

.tribute-view {
  height: 245px;

  .tile-edit-buttons {
    top: 3px;
  }

  .tribute-description {
    height: 180px;
    overflow-y: auto;
    word-break: break-all;
  }
  .tribute-author  {
    max-width: 100px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    vertical-align: bottom;
    text-overflow: ellipsis;
  }
}

.tribute-page {
  position: relative;
  .tribute-description {
    min-height: 250px;
    max-height: 300px;
    overflow-y: auto;
    word-break: break-all;
  }

  .comment-section {
    border-top: 1px solid $e-brown;

    .comment {
      width: 100%;
    }
  }
}
