img.img-responsive.e-profile-photo(ng-src="{{user.avatar_url.original | imageFilter:'avatar'}}"
                                    draggable="false" ui-sref="app.user.edit.general({userId: user.id})")
