@import "../../../../vendor/styles/variables";

.tile.album {
  .album-content-wrapper {
    border-bottom: 1px solid $e-brown;
    height: 85%;
    overflow: hidden;

    &.small {
      padding: 0 15px;
      height: 100%;
      .image-wrapper img {
        margin-top: -10px;
      }
    }

    &.middle {
      .image-wrapper img {
        margin-top: 0;
      }
    }
    &.vertical {
      .image-wrapper img {
        width: 100%;
        margin-left: 0;
      }
    }
  }

  .vertical {
    padding: 0 15px;
  }

  .album-title {
    border-top: 4px solid;
    border-color: $e-red;
    height: 50px;
    overflow: hidden;
  }

  .big-count {
    display: inline-block;
    padding: 8px;
    background-color: $e-red;
    color: $e-white;
    font-size: 24px;
    float: left;
    margin-right: 5px;
  }

  .title-text {
    padding-top: 5px;
    .content-count {
      font-size: 12px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .title {
      font-size: 18px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .title-alt {
    font-size: 24px;
  }

  .description {
    .description-content {
      height: 140px;
      overflow: hidden;
      text-decoration: none;
    }

    .avatar-wrapper {
      width: 35px;
      max-height: 35px;
      vertical-align: middle;
      display: inline-block;
      img {
        border-radius: 50%;
      }
    }
    .author-name {
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      white-space: nowrap;
      max-width: 70%;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;

      a {
        color: $e-brown;
      }
    }

    .e-link {
      text-decoration: underline;
    }
  }
}
