.tile.video, .record {

  .video-preview-placeholder {
    background: #000;
    width: 100%;
    height: 100%;
  }

  i.fa.play-sign {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -21px;
    color: rgba(255, 255, 255, 0.75);
    font-size: 50px;
  }
}
