@import "../../vendor/styles/variables";

.ta-editor {
  margin: 10px 0 5px;
  border-radius: 0;
  border: 1px solid $e-brown;
  color: $e-brown;
  &:focus {
    box-shadow: 0 0 3px $e-brown;
    border-color: $e-brown;
  }
}

.ta-root.focussed > .ta-scroll-window.form-control {
  border-color: $e-brown;
  outline: none;
  box-shadow: 0 0 3px $e-brown;
}


.has-error {
  .ta-editor {
    border: 1px solid $e-red;
    &:focus {
      box-shadow: 0 0 3px $e-red;
      border-color: $e-red;
    }
  }
}

.ta-toolbar {
  .btn-group .btn {
    border-radius: 0;
    border: 1px solid $e-brown;
    color: $e-brown;
    background: $e-white;
  }
}
