@import "../../../vendor/variables";

.select-media-type-popup {
  .btn-media-type {
    border-radius: 0;
    padding: 10px 0 5px 0;
    width: 100%;
    margin-bottom: 15px;

    i.fa {
      font-size: 40px;
      margin-bottom: 5px;
    }
  }
}
