@import "../../vendor/styles/variables";

.tags-view {
  overflow-y: auto;
  padding-bottom: 40px;
  ul {
    margin-bottom: 0;
    li {
      border: none;
      display: inline-block;
      width: 70px;
      padding: 10px;
    }
  }
}
