@import "../../vendor/styles/variables";

.e-autocomplete-dropdown.e-tag-friend {
  background: $e-white;
  z-index: 20;
  border: 1px solid $e-brown;
  box-shadow: 0 1px 1px 1px $e-black-aa;
  height: auto;
  position: absolute;
  width: 100%;

  .media.friend {
    padding: 3px;
    margin-top: 0;

    &:hover, &.active {
      background: $e-brown;
      .friend-name {
        color: $e-white;
      }
    }
  }
}

#friendAutocomplete {
  position: relative;
}
